/* 博客细节css样式 */
.blog-content{
    margin: 50px 30px;
}
.blog-content h3 {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}
.blog-content .date {
    text-align: center;
    color: rgb(66, 84, 114);
    padding: 10px 0;
    font-size : 20px
}
.blog-content p {
    text-indent: 2em;
    font-size: 17px;
    margin: 20px 0 ;
}
