/* 登陆界面专用样式 */
.login-container {
    width: 100%;
    height: calc(100% - 50px);
    /* 需要让里面的子元素垂直水平居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .login-dialog {
    width: 500px;
    height: 400px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.login-container h3 {
    text-align: center;
    margin: 50px 0;
    margin-bottom: 30px;
    font-size: 25px;
}

.login-container .row {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* padding-right: 30px; */
}

.login-container .row span {
    /* 变成块元素 才可以设置尺寸属性 */
    display: block;
    width: 100px;
    font-weight: 700;
}

#userName, #passWd {
    height: 40px;
    width: 200px;
    line-height: 40px;
    font-size: 22px;
    padding-left: 10px;
    border-radius: 10px;
    /* 去除边框操作 */
    /* border: none; */
    /* outline: none; */
}

#captchaCode {
    height: 40px;
    width: 100px;
    line-height: 40px;
    font-size: 22px;
    padding-left: 10px;
    border-radius: 10px;
}

#submit, #reg {
    border-radius: 5px;
    color: antiquewhite;
    width: 130px;
    height: 40px;
    background-color: rgb(64, 80, 103);
    /* border: none; */
    outline: none;
    margin-top: 50px;

}

.row > .space {
    width: 40px;
    height: 40px;
}


#findPwd:visited, #findPwd:link {
    color: rgb(36, 49, 81);
    text-decoration: none;
}