/* 写博客列表页面相关的样式 */
.blog {
    width: 100%;
    padding: 25px;
}

.blog .title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
}

.blog .date {
    text-align: center;
    color: rgb(66, 84, 114);
    padding: 10px 0;
}

.blog .desc {
    text-indent: 2em;
}

.blog a {
    /* 设置成块级元素,方便设计尺寸和边距 */
    /*变成行内块元素*/
    display: inline-block;
    width: 140px;
    margin: 10px auto;
    text-align: center;

    border: 2px solid black;
    line-height: 40px;
    color: black;
    text-decoration: none;
    /* 增加过度柔和  加上过渡效果 */
    transition: all 0.4s;
    border-radius: 10px;
}

.blog a:hover {
    background: rgba(58, 81, 107, 0.5);
    color: #fff;
}